body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    width: 100%;
}
.leftbar,
.main-content,
.rightbar {
    background-color: #fff;
    border: 2px solid #ccc; 
    padding: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    
}